* {
    max-width: 100%;
    max-height: 100%;
    margin: 0;
    padding: 0;
}

.fond {
    width: 100%;
    height: 100vh;
    position: absolute;
    opacity: 0.5;
}

#menu-right-black {
    right: 0;
    position: absolute;
    width: 13%;
    height: 100vh;
    background-color: rgb(0, 0, 0);
    opacity: 0.5;
}

#menu-right {
    z-index: 100;
    right: 0;
    position: absolute;
    width: 13%;
    height: 100vh;
    background-color: rgb(255, 255, 255);
    display: none;
}

#menu-right ul {
    margin-left: 80px;
    margin-top: 100%;
}

#menu-left {
    z-index: 1;
    position: absolute;
    width: 87%;
    height: 100vh;
    background-color: rgb(255, 0, 0);
    opacity: 0.8;
    display: none;
    transform-origin: right;
}

#burger {
    position: absolute;
    top: 4%;
    right: 4%;
    width: 40px;
    height: 40px;
    cursor: pointer;
    z-index: 110;
}

#burger span {
    width: 100%;
    height: 5px;
    background-color: black;
    display: block;
    position: absolute;
    top: 50%;
    transform: translateY(50%);
    transition: background-color 0.5s ease-in;
}

#burger:hover span::before,
#burger:hover span::after {
    transition: width 100%;
    transform: translate(0px);
    transition: transform 0.5s;
}

#burger span::before,
#burger span::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 5px;
    background-color: black;
}

#burger span::before {
    right: 0;
    width: 70%;
    transform: translateY(-10px);
    transition: transform 0.5S;
}

#burger span::after {
    transform: translateY(10px);
    display: none;
}


/* active div burger when click*/

#burger.active span::after {
    display: block;
    transform: translateY(0px) rotate(-45deg);
    background-color: red;
}

#burger.active span {
    transition: background-color 0s;
    background-color: transparent;
}

#burger.active span::before {
    width: 100%;
    transform: translateY(0px) rotate(45deg);
    transition: transform 0s;
    background-color: red;
}

h1 {
    color: red;
    font-size: 50px;
    position: absolute;
    left: 20%;
    top: 20%;
}